{% extends 'base.html' %}
{% load static %}

{% block content %}


<table>
    <tr>
        <td >Muhiddin</td>
        {% for i in dates%}
            {% if i.worker.id == 1 %}
            <td style="border: 1px solid black;">{{i.work}}</td>
            {% endif %}
        {%endfor%}
    </tr>
    <tr>
        <td >Muhiddin</td>
        {% for i in dates%}
            {% if i.worker.id == 2 %}
            <td style="border: 1px solid black;">{{i.work}}</td>
            {% endif %}
        {%endfor%}
    </tr>

</table>





{% endblock content %}