{% extends 'base.html' %}
{% load static %}

{% block content %}


<table>
    <tr>
        <td style="wight:10%">Ism</td>
        {% for i in dates%}
            {% if i.worker.id == 1 %}
            <td style="border: 1px solid black;wight:3%">{{i.month}}</td>
            {% endif %}
        {%endfor%}
    </tr>
    <tr>
        <td >Muhiddin</td>
        {% for i in dates%}
            {% if i.worker.id == 1 %}
            <td style="border: 1px solid black;wight:3%">{{i.clock_in}}-{{i.clock_out}}</td>
            {% endif %}
        {%endfor%}
    </tr>
    <tr>
        <td >Muhiddinn</td>
        {% for i in dates%}
            {% if i.worker.id == 2 %}
            <td style="border: 1px solid black;wight:3%">{{i.clock_in}}-{{i.clock_out}}</td>
            {% endif %}
        {%endfor%}
    </tr>

</table>





{% endblock content %}