
{% extends 'base.html' %}
{% load static %}

{% block content %}
<table>


        <a href="{% url 'startendtype' 'yanvar' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">Yanvar</button></a>
        <a href="{% url 'startendtype' 'fevral' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">fevral</button></a>
        <a href="{% url 'startendtype' 'mart' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">mart</button></a>
        <a href="{% url 'startendtype' 'aprel' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">aprel</button></a>
        <a href="{% url 'startendtype' 'may' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">may</button></a>
        <a href="{% url 'startendtype' 'iyun' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">iyun</button></a>
        <a href="{% url 'startendtype' 'iyul' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">iyul</button></a>
        <a href="{% url 'startendtype' 'avgust' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">avgust</button></a>
        <a href="{% url 'startendtype' 'sentiyabr' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">sentiyabr</button></a>
        <a href="{% url 'startendtype' 'oktiyabr' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">oktiyabr</button></a>
        <a href="{% url 'startendtype' 'noyabr' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">noyabr</button></a>
        <a href="{% url 'startendtype' 'dekabr' %}" style="padding:5px"><button style="width: 7%; border-radius: 5px;">dekabr</button></a>









{% endblock content%}