{% extends 'base.html' %}
{% block content %}
{% load static %}



<section class="login">

<!--   <form  method="POST">-->


<!--{#        <input type="text" name="" placeholder="login kiriting" class="box">#}-->
<!--{#        <input type="password" name="" placeholder="parol kiriting" class="box">#}-->
<!--{#        <div class="remember">#}-->
<!--{#            <input type="checkbox" name="" id="remember-me">#}-->
<!--{#            <label for="remember-me"> yodda saqlash </label>#}-->
<!--{#        </div>#}-->


    <form method="POST" style="place-items: center;display: grid;">
        <h3 style="font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #333;
  text-transform: uppercase;text-align: center;">Kirish</h3>
        {% csrf_token %}
        <label >Username:</label>
        <input type="text" name="username" placeholder="Username"  class="box">
        <input type="password" name="password" id="password1" placeholder="password" onkeyup='check();' class="box">

<!--        {{ form.as_p }}-->

        <input type="submit" value="Kirish" style="font-size: 1.5rem;background-color:#3397C8; padding:4px 16px;border-radius:8px;color:#fff; border:0 "">

    </form>

</section>

{% endblock content %}