{% extends 'base.html' %}
{% load static %}

{% block content %}

		<div class="main-body">
			<div class="row">

				<div class="col-lg-9">
					<div class="card">
						<div class="card-body">
							<form method="post">
								{% csrf_token %}


							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Full Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="full_name" value="">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Telegram_id</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="number" class="form-control" name="telegram_id" value="">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Phone</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="tel" class="form-control" name="phone" value="">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Kasbi</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="shop" value="">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Yoshi</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="number" class="form-control" name="age" value="">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Birthday</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="date" class="form-control" name="birthday" value="">
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9 text-secondary">
									<input type="submit" class="btn btn-primary px-4" value="Saved">
								</div>

							</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
{% endblock content%}